.card {
  img {
    height: 10rem;
    border-radius: 1rem;

    //For flipping cards :
    // opacity: 0;
    animation: 5s hideImage linear;
  }

  &.active {
    transform: rotateY(5);

    img {
      opacity: 1;
    }
  }

  .unmatch {
    background-color: rgb(240, 28, 28);
    border-radius: 5px;
    animation: 2s hideCard linear;
  }
}
